.container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.boxes{
  margin-top: 1rem;
  height: 13rem;
  width:  25rem;
  background-color: rgb(52, 108, 153);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-300%);
  color: white;
  font-size: 2rem;
  transition: all .5s ease;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .5);
}
.boxes:nth-of-type(even){
  transform: translateX(300%);
}

.active.boxes{
transform: translateX(0);
}
